@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  background-color: darken($color: #fff, $amount: 5%);
}

/* RESETS */
h1,
h2,
h3,
p,
ul,
form {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba($color: #000, $alpha: 0.4);
}

.hide {
  display: none;
}

#root {
  width: 32rem;
  margin: 0 auto;
}

// Header
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  margin-bottom: 4rem;
}

.filter-bookmarks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 49%;
  background-color: #7215d8;
  height: 4.8rem;
  font-weight: bold;
  box-shadow: 0 0.5rem 1rem rgba($color: #000, $alpha: 0.4);

  select {
    width: 80%;
    color: #fff;
    background-color: transparent;
    height: 100%;
    font-weight: 700;
    border: none;
    cursor: pointer;
  }
}

// Add and Filter Buttons
.add-filter-btns {
  display: flex;
  justify-content: space-between;
  position: relative;

  button {
    height: 4.8rem;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.2rem;
    background-color: #7215d8;
    color: #fff;
    font-weight: 700;

    span {
      margin-right: 1.6rem;
    }
  }
}

.filter-dropdown {
  // display: none;
  position: absolute;
  // display: inline-block;
  top: 4.8rem;
  right: 0;
  z-index: 1000;
}

// Add Bookmark Form
.add-bookmark-form {
  display: flex;
  flex-direction: column;

  &__input {
    outline: none;
    height: 4.8rem;
    border: none;
    border-radius: 0.4rem;
    // box-shadow: 0 0 1rem 0 rgba($color: #000, $alpha: 0.15);
    padding-left: 1.6rem;
  }

  &__btns {
    margin-top: 1.6rem;
    height: 4.8rem;
    display: flex;
    justify-content: space-between;

    button {
      background-color: #7215d8;
      height: 100%;
      width: 49%;
      color: #fff;
    }
  }
}

// Bookmarks List
.bookmark-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.6rem 0;

  &__item {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.1rem 0.2rem 0 rgba($color: #000, $alpha: 0.15);
    position: relative;
    background-color: #fff;
    height: 24rem;

    &__thumbnail {
      background: url('https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif')
        no-repeat;
      background-size: 100% 100%;
      width: 100%;
      height: 60%;
    }

    &__rating {
      display: flex;

      button {
        background: transparent;
        box-shadow: none;
      }
      // height: 100%;
    }

    &__btns {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 4.8rem;

      a {
        display: flex;
        justify-content: center;
        background-color: #2e8540;
        cursor: pointer;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
      }

      button {
        border: none;
        cursor: pointer;
        background-color: #4773aa;

        &:last-child {
          background-color: #e31c3d;
        }
      }
    }
  }
}
