@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  background-color: darken($color: #fff, $amount: 5%);
}

/* RESETS */
h1,
h2,
h3,
h4,
p,
ul,
form {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba($color: #000, $alpha: 0.4);
}

.hide {
  display: none;
}

main {
  width: 32rem;
  margin: 0 auto;
  position: relative;
}

// Header
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  margin-bottom: 4rem;
}

.flash-message {
  width: 100%;
  height: 6.4rem;
  border-radius: 0.4rem;
  margin-bottom: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.filter-bookmarks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 49%;
  background-color: #7215d8;
  height: 4.8rem;
  box-shadow: 0 0.5rem 1rem rgba($color: #000, $alpha: 0.4);
  position: relative;
  justify-content: center;

  label {
    position: absolute;
    font-weight: bold;
    color: #fff;
    width: 100%;
    width: 80%;
  }

  select {
    position: relative;
    color: #fff;
    background-color: transparent;
    height: 100%;
    width: 80%;
    font-weight: 700;
    border: none;
    cursor: pointer;
  }
}

// Add and Filter Buttons
.add-filter-btns {
  display: flex;
  justify-content: space-between;
  position: relative;

  button {
    height: 4.8rem;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.2rem;
    background-color: #7215d8;
    color: #fff;
    font-weight: 700;

    &:disabled {
      background-color: gray;
    }

    span {
      margin-right: 1.6rem;
    }
  }
}

// Add Bookmark Form
.add-bookmark-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
  position: absolute;
  z-index: 2000;
  width: 100%;
  background-color: #212121;
  padding: 0.8rem;
  color: #fff;
  border-radius: 0.4rem;

  label {
    margin-bottom: 0.8rem;
  }

  label:not(:first-child) {
    margin-top: 0.8rem;
  }

  &__errors {
    background-color: #e94b35;
    padding: 0.8rem;
    border-radius: 0.4rem;
  }

  &__input {
    height: 4.8rem;
    border: none;
    border-radius: 0.4rem;
    padding-left: 1.6rem;
  }

  &__btns {
    margin-top: 1.6rem;
    height: 4.8rem;
    display: flex;
    justify-content: space-between;

    button {
      background-color: #7215d8;
      height: 100%;
      width: 49%;
      color: #fff;
    }
  }
}

// Bookmarks List
.bookmark-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.6rem 0;
  padding-bottom: 48rem;

  &__empty {
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.1rem 1rem 0 rgba($color: #000, $alpha: 0.4);
    position: relative;
    background-color: #fff;
    border-radius: 0.4rem;

    &__thumbnail {
      height: 18rem;
      background: url('https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif')
        no-repeat;
      background-size: 100% 100%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 0.4rem 0.4rem 0 0;
      }
    }

    &__rating {
      display: flex;

      button {
        background: transparent;
        box-shadow: none;
        width: 4.8rem;
        height: 4.8rem;
      }
    }

    &__info {
      padding: 0.8rem 0 0 0;

      h2 {
        padding-left: 1rem;
      }
    }

    &__more-info {
      margin: 0.8rem 0;
      padding-left: 0.8rem;

      &__btns {
        display: flex;

        a {
          display: flex;
          justify-content: center;
          text-decoration: none;
          background: #0a76db;
          padding: 0.4rem;
          margin-top: 0.8rem;
          color: #fff;
          border-radius: 0.4rem;
          width: 8rem;
        }
      }
    }

    &__btns {
      height: 4.8rem;
      display: flex;

      button {
        border: none;
        cursor: pointer;
        background-color: #4773aa;
        box-shadow: none;
        border-radius: 0 0 0 0.4rem;
        width: 50%;

        &:last-child {
          background-color: #e31c3d;
          border-radius: 0 0 0.4rem 0;
        }
      }
    }
  }
}
